.Button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
h1 {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

